# Python
.venv/
__pycache__/
*.pyc

# Nuxt build
.nuxt/
.output/
.nitro/
.cache/
.data/
dist/

# Node
node_modules/

# IDE
.idea/
.vscode/
.fleet/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/
npm-debug.log*
